<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <remove name="aspNetCore"/>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\Ploc.Ploud.Api.exe"
                  arguments=".\Ploc.Ploud.Api.dll"
                  stdoutLogEnabled="false"
                  stdoutLogFile=".\logs\stdout"
                  hostingModel="inprocess" />
      <security>
        <requestFiltering>
          <!-- 2gb -->
          <requestLimits maxAllowedContentLength="2097152000" />
        </requestFiltering>
      </security>
    </system.webServer>
  </location>
</configuration>